<!DOCTYPE html>
<html>
<head>
	<title>Sobre</title>
	<link rel="stylesheet" type="text/css" href=""/>
	<link rel='stylesheet' type='text/css' media='screen' href='../CSS/index.css'>
</head>
<body>	
	<header>
        <h1>Problemas em Campinas</h1>
        <div class="center">
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../Views/sobre.html">Sobre</a></li>
                    <li><a href="../Views/login.html">Login</a></li>
                    <li><a href="../Views/contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="sobre">
            <div id="sobre2">
                <h1>Sobre Projeto</h1><br>
                <h4>Desenvolvido por Caio Mota e Gabriel Makiuchi</h4><br>
                <h4>Informações do Projeto</h4>
                <p>Plataforma web desenvolvida com o intuido de registrar reclamações de moradores referentes a cidade de Campinas.</p><br>
                <p>Desenvolvido para avaliação na disciplina de Desenvolvimento Web no IFSP Campinas, ministrado pelo professor Andre Luis Bordignon.</p>
            </div>
        </div>



    <footer>© 2020 Desenvolvido por: Caio Mota e Gabriel Makiuchi</footer>
</body>
</html>